body {
  background-color: gray;

/*  - BASICS -
selector {
    property: value;
    anotherProperty: value;
}

h1 {
  color: #ff0000;
  border-color: black;
  border-width: 5px;
  border-style: solid;
  border: 2px solid black;
}

h2 {
  color: rgb(255, 20, 90);
}

h3  {
  color: rgba(255, 40, 70, 0.5);
}

h4 {
  background: rgb(255,100, 80);
}

body {
  background: url(link_to_image);
  background-repeat: no-repeat;
  background-size: cover;
}
----------------------------------------------- */

/*  -- SELECTORS --  */
/*
  id="special"  #special- only one ID per page - for individual elements

  class="highlight"  .highlight - for any number of elements on the page

----  Elements ----
li {
  color: green;
}

 ---- Class ----
 .highlight {
  background-color: yellow;
  text-decoration: line-through;
}

 ---- id ----
#special {
  border: 2px solid black;
}

 ---- Star ----
 selects everything on the page *
 *{
 border: 1px solid red;
}

 ---- Descendant Selector ----
takes two or more tage names or selectors and chains them together

selects every a which is in li, others not!!:
li a {
  color: green;
}

 ---- Adjacent Selector ----
 selects elements that come after other elements (not nested but a sibling)

 all ul which come after h4 (not nested inside):
 h4 + ul{
 border: 3px solid green;
}

 ---- Atribute Selector ----
 selects elements based of on any attribte

all href´s to google:
a[href="http://www.google.com"] {
 border: 3px solid green;
}
..or..
all input´s with type="text":
input[type="text"] {
  border: 4px solid red;
}

 ---- nth of type ----
 selects second, third, fifth, .... element, not every first, second, ..!!

 every third ul:
 ul:nth-of-type(3){
  border: 4px solid red;
}

every even li element:
li:nth-of-type(even){
 border: 4px solid red;
}

*/

/*  ---- SPECIFICITY ---- */
/* the closest (last) style wins :-)
Selector strength:
  1. // ID Selectors
    #special {}

  2. // Class, Attribute, Pseudo-Class Selectors //
    .header {}

    input[type="text"] {}

    a:hover {}
    input:checked{}


  3. // Type Selectors //
    li {}
    li a {}
    li + a {}

*/

/*  ----- TEXT and FONTS ----- */
    /* font-family //
     p{
       font-family: 'Spectral', serif;
      }
     h1{
        font-family: 'Roboto', sans-serif;
       }

    // font-size //
      h1 {
        font-size: 50px;
      }
      span {
        font-size: 2.0em;
      }

     // font-weight // // how bold ol light the text is, numeric 100-800 //
      p {
        font-weight: bold;
      }

      // line-hight // // controls the hight of a given line //
      p {
        line-height: 1.2;
      }

      // text-align // // controls is the text aligned //
      h1 {
        text-align: right;
      }
      p {
        text-align: center;
      }

      // text-decoration // // used to give text an underline, overline, strike-through effect.. //
      p {
        text-decoration: underline;
      }
      h1 {
        text-decoration: line-through;
      } */
